@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f2;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
    /* opacity: .6; */
}

#menuToggle {
    display: block;
    position: absolute;
    top: 25px;
    left: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #f0f0f2;
    border-radius: 0 0 23% 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    display: flex;
    flex-direction: column;
}

#menu li {
    padding: 10px 0;
    font-size: 1.5rem;
    color: black;
}

#menu li:hover {
    color: tomato;
}

#menuToggle input:checked~ul {
    transform: none;
}

#menu a {
    background-color: transparent;
}

.header {
    background: url('../img/background-header.jpg') center;
    background-size: cover;
    padding: 4rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}

.header > h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.header > article > p {
    font-size: 1.5rem;
    font-weight: 200;
}

.header > article > a {
    padding: 1rem;
    margin-top: .75rem;
}

.menu {
    padding: 2rem;
}

.menu a {
    background-color: #f0f0f2;
    color: black;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.5em;
    border-radius: 4px;
}

.deers {
    padding: 2rem;
}

.deers > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
}

.deers > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
}

.deers > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.deers > ul > li > figure > img {
    width: 100%;
}

.deers > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.deers > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.deers > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.deers > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
}

aside {
    margin: 0 1em 0 1em;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    background-color: #ebebec;
}

aside h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

aside a {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.2em;
    border-radius: 4px;
}

footer {
    background-color: #333;
    padding: 0.75rem;
    color: white;
    text-align: center;
    font-size: 1rem;
}

footer p {
    padding: .25em 0 .25em 0;
}

@media all and (max-width: 500px) {
    .header {
        padding: 5rem 2rem 1rem 2rem;
    }

    .header article > p {
        padding-top: 1rem;
        font-size: 1.1em;
        color: rgb(238, 238, 238);
    }

    .deers>ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    aside {
        margin: 0;
        padding: 1rem 1rem;
    }

    aside a {
        text-align: left;
        font-size: 1em;
    }

    footer {
        font-size: .7em;
    }
}